.topBar {
	height: 1.95rem;
	line-height: 1.95rem;
	background-color: #3190e8;
	position: fixed;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	font-size: .7rem;
	color: #ffffff;
	padding: 0 .4rem;
}
.topBar a {
	color: #fff;
}
.topBar a i {
	padding-top: .5rem;
	font-size: 1rem;
}

/* 两端对齐 */
.alignment-at-both-ends{
	display: flex;
	justify-content: space-between;
}

/* add-address */
.add-address {
	margin-top: 2.35rem;
    height: 3.5rem;
    padding: 0 .6rem;
    align-items: center;
	-webkit-background-size: auto .12;
	    background-size: auto .12;    
}
.add-address .bottom {
	
}





